/* Google Font Oswald */
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Luckiest+Guy&family=Oswald:wght@200..700&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/* Google Font Abel */
@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');

html{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 62.5%;
}

body{
    margin: 0;
    display: flex;
    flex-direction: column;
    background-color: #06060D;
    font-family: Oswald;
    color: #ffffff;
}

p{
    font-size: 1.5rem;
    text-transform: uppercase;
    letter-spacing: 0.15rem;
    text-align: justify;
}

/* h1, h2, h3, h4 */

h1, h2, h3, h4{
    letter-spacing: 0.3rem;
    margin: 0;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
}

h1{
    font-size: 2.5rem;
}

h2{
    font-size: 2.2rem;
}

h3{
    font-size: 2rem;
}

h4{
    font-size: 1.8rem;
}

span, ul li{
    font-size: 1.3rem;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
}

/* Container section */
.section-container{
    display: flex;
    flex-direction: column;
}

/* Header section */

header{
    display: flex;
    justify-content: space-between;
    padding: 3rem 2rem;
}

header img{
    height: 2.4rem;
}

/* Home section */
#home{
    align-items: center;
    gap: 1rem;
    padding: 3rem 2rem;
    background-color: rgba(255, 255, 255, 0.1);
}

#home > img{
    width: 26rem;
}

#home p{
    text-align: center;
    font-weight: normal;
    width: 28.3rem;
    text-transform: uppercase;
}

#home div{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 2rem;
}

#home div img{
    height: 3.5rem;
}

/* Skills section */
#skills{
    justify-content: center;
    align-items: stretch;
    gap: 1rem;
    padding: 2rem;
}

#skills > div{
    display: flex;
    justify-content: space-between;
}

#skills > div > img{
    height: 3.5rem;
}

.stacks-social > img{
    height: 3.5rem;
    width: 3.5rem;
}

/* Projects section */
#projects{
    gap: 4rem;
    padding: 3rem 2rem;
    background-color: rgba(201, 174, 244, 0.1);
}

.project-card, #academic-info, #jobs, #courses{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding: 2rem 0;
    border-top: 0.1rem solid #888686;
    /* border-bottom: 0.1rem solid #888686; */
}

.project-card > img{
    height: 15.5rem;
}

.project-card > div{
    display: flex;
    gap: 1rem;
    align-items: center;
}

.project-card p{
    width: 80%;
    text-align: justify;
    text-transform: uppercase;
}

.project-card > div img{
    height: 3.5rem;
}

.project-card > div button{
    height: 3.5rem;
    width: 12rem;
    background-color:rgba(99, 63, 171, 0.8);
    color: #ffffff;
    border: none;
    border-radius: 1rem;
}

/* About Section */
#about{
    gap: 4rem;
    padding: 3rem 2rem;
    flex-direction: column;
    align-items: center;
}

#about > div{
    display: flex;
    gap: 2rem;
    justify-content: flex-start;
}

#about > img{
    height: 15.5rem;
}

#about > p{
    width: 80%;
}

#about > div{
    display: flex;
    justify-content: flex-start;
    width: 80%;
}

#about > div > img{
    height: 3.5rem;
}

/* academic-info */
#academic-info{
    gap: 2rem;
    padding: 2rem 0;
}

.academic-info-card, .job-card{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 2rem;
    background-color: rgba(143, 143, 143, 0.1);
    width: 100%;
}

.academic-grade, .job-experience{
    display: flex;
    align-items: center;
    gap: 1rem;
    /* font-family: Abel; */
    font-size: 1rem;
}

.academic-grade img, .job-experience img{
    height: 3rem;
}

/* jobs */
.job-card ul, .job-card p{
    margin: 0;
    padding: 0;
    width: fit-content;
    padding-left: 2rem;
}

.job-card p{
    padding-left: 0;
    text-align: justify;
}

/* Courses */
#courses h4{
    text-align: left;
}

#courses .academic-info-card ul{
    margin: 0;
    padding-left: 1.8rem;
}